/*reset*/
body{
    margin: 0;
    padding: 0;
}

/*header*/
header{
    background: white;
    border-bottom: 1px solid gray;
}
header nav{

}
.head-left{
    width: 980px;
    margin: auto;
    padding: 20px 0;
}
header nav div{

}
.emblem{
    font-family: Volte;
    font-style: normal;
    font-weight: bolder;
    font-size: 30px;
    margin-right: 10px;
    padding-top: 4px;
    /*padding-bottom: px;*/
    float: left;
}
.emblem:hover{
    color: gray;
}
.logo{
    margin-right: 5px;
    float: left;
}
.logo img{
    display: block;
    width: 50px;
    height: 50px;
}
header nav ul{
    display: flex;
    margin: 0;
}
header nav ul li{
    list-style: none;
    margin: 10px;
}
header nav ul li a{
    color: black;
    text-decoration: none;
    display: block;
    font-size: 20px;
}
header nav ul li a:hover{
    color: gray;
}
/*.menu{*/
/*    float: left;*/
/*}*/
/*.menu-item{*/
/*    float: left;*/
/*    !*margin-right: 10px;*!*/
/*    padding: 8px 10px;*/
/*    !*앞이 위아래 뒤가 좌우*!*/
/*}*/
/*.clearfix::after{*/
/*    content: "";*/
/*    display: block;*/
/*    clear: both;*/
/*}*/

/*main*/
main{
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
}
main section{
    width: 70%;
    background: tomato;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
}
main section h1{

}
main section article{
    background: yellowgreen;
    margin-bottom: 10px;
    padding: 20px;
}
main aside{
    width: 30%;
    box-sizing: border-box;
    background: tomato;
    margin: 10px;
    padding: 20px;
}

/*footer*/
footer{
    background: tomato;
    margin-left: 200px;
    margin-right: 200px;
}
footer address{
    display: block;
}
footer address a{
    color: black;
    text-decoration: none;
    font-style: normal;

}
footer address a:hover {
    text-decoration: underline;
}