/*reset*/
/*ody,div,dl,dt,dd,ul,ol,li,h1s,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}*/
/*fieldset,img{border:0 none}*/
/*dl,ul,ol,menu,li{list-style:none}*/
/*blockquote, q{quotes:none}*/
/*blockquote:before, blockquote:after,q:before, q:after{content:'';content:none}*/
/*input,select,textarea,button{vertical-align:middle}*/
/*input::-ms-clear{display:none}*/
/*button{border:0 none;border-radius:0;background-color:transparent;cursor:pointer}*/
/*body{background:#1e1e1e;word-wrap:break-word;word-break:keep-all}*/
/*body,th,td,input,select,textarea,button{font-size:16px;line-height:1.5;font-family:'NotoSans Light','Malgun Gothic','맑은 고딕','Apple SD Gothic Neo','돋움',dotum, sans-serif;color:#666}*/
/*a{color:#333;text-decoration:none}*/
/*a:active, a:hover{text-decoration:underline}*/
/*a:active{background-color:transparent}*/
/*address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}*/

/*reset*/
body{
    margin: 0;
    padding: 0;
    background: white;
}

/*layout*/
html{height:100%}

/*header*/
header{
    background: white;
    border-bottom: 1px solid gray;
}
header nav{

}
.head-left{
    width: 980px;
    margin: auto;
    padding: 20px 0;
}
header nav div{

}
.emblem{
    font-family: Volte;
    font-style: normal;
    font-weight: bolder;
    font-size: 30px;
    margin-right: 10px;
    padding-top: 4px;
    /*padding-bottom: px;*/
    float: left;
}
.emblem:hover{
    color: gray;
}

.logo{
    margin-right: 5px;
    float: left;
}
.logo img{
    display: block;
    width: 50px;
    height: 50px;
}
header nav ul{
    display: flex;
    margin: 0;
}
header nav ul li{
    list-style: none;
    margin: 10px;
}
header nav ul li a{
    color: black;
    text-decoration: none;
    display: block;
    font-size: 20px;
}
header nav ul li a:hover{
    color: gray;
}
/*.menu{*/
/*    float: left;*/
/*}*/
/*.menu-item{*/
/*    float: left;*/
/*    !*margin-right: 10px;*!*/
/*    padding: 8px 10px;*/
/*    !*앞이 위아래 뒤가 좌우*!*/
/*}*/
/*.clearfix::after{*/
/*    content: "";*/
/*    display: block;*/
/*    clear: both;*/
/*}*/

/*main*/
main{
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
}
main section{
    width: 70%;
    background: whitesmoke;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid black;
}
main section h1{

}
main section article{
    background: lightgray;
    margin-bottom: 10px;
    padding: 20px;
}
main aside{
    width: 30%;
    box-sizing: border-box;
    background: whitesmoke;
    margin: 10px;
    padding: 20px;
}

/*footer*/
footer{
    background: white;
    margin-left: 220px;
    margin-right: 220px;
}
footer address{
    display: block;
}
footer address a{
    color: black;
    text-decoration: none;
    font-style: normal;

}
footer address a:hover {
    text-decoration: underline;
}