body{
    margin: 0;
    padding: 0;
}
header{
    background: tomato;
}
header img{

}
header nav{

}
header nav ul{

}
header nav ul li{

}
main{

}
main section{

}
main section h1{

}
main section article{

}
main aside{

}
footer{

}
footer a{

}