.box{
    background: darkred;
}
.box1{
    padding: 20px;
    margin: 10px;
}
.para1{
    color: lavender;
}

.boxy{
    width: 40px;
    height: 30px;
    background: darkred;
    padding: 20px;
    margin: 30px;
}