@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

.container{
    display: flex;
    background: black;
    width: 100%;
    height: 600px;
    align-items: center;
}

.semi-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container div{
    color: white;
    margin-right: 40px;
}

.footer-cat-head{
    display: block;
    text-decoration: none;
    font-weight: 600;
    color: gray;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 15px;
}

a{
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    color: lightgray;
    font-size: 18px;
}

a:hover{
    color: royalblue;
}

.semi-container div:nth-child(4){
    width: 100px;
    height: 30px;
}

.semi-container div:nth-child(5){
    width: 100px;
    height: 30px;
}

.semi-container div:nth-child(6){
    width: 100px;
    height: 30px;
}

.semi-container div:nth-child(7){
    align-self: flex-end;
}

.logo{
    font-family: Futura;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    color: darkgray;
}